* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    font-size: medium;
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
    padding: 3rem;
}

/* navbar code */

@font-face {
    font-family: font;
    src: url(./assets/GeneralSans-Regular.otf);
}

.main {
    width: 100%;
    padding: 0.5rem 1.4rem;
}



.view-1 {
    width: 100%;

    img {
        width: 100%;
        object-fit: cover;
        padding-top: 0.6rem;
    }

    .text {
        display: flex;
        justify-content: space-between;
        padding-top: 0.9rem;

        .sub-text {
            font-family: monospace;
            font-size: 0.9rem;
            letter-spacing: 0.01rem;
        }
    }
}

.view-2 {
    width: 100%;
    display: flex;
    flex-direction: column;

    .bg {
        width: 100%;

        img {
            width: 100%;
            padding-top: 1rem;
            object-fit: cover;
        }
    }

    .info {
        padding-top: 2rem;

        .title {
            h1 {
                font-family: font;
                font-size: 2.6rem;
                text-transform: uppercase;
                font-weight: 10;
                letter-spacing: 1px;
            }

            p {
                font-size: 1.3rem;
                font-family: monospace;
                padding-top: 0.5rem;
                color: #696969;
                line-height: 1.3;
            }
        }

        .sub-title {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 1.8rem;

            .brands {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h1 {
                    font-size: 1.8rem;
                    font-family: font;
                    padding-top: 0.5rem;
                    color: #696969;
                    line-height: 1.3;
                    font-weight: 100;
                    color: #111111;
                }

                p {
                    font-size: 1.8rem;
                    font-family: font;
                    padding-top: 0.5rem;
                    color: #111111;
                    line-height: 1.3;
                    text-transform: uppercase;
                }



            }

            #line {
                height: 1px;
                width: 100%;
                background-color: #ededed;
                margin-top: 0.7rem;
            }
        }
    }
}

.view-3 {

    width: 100%;
    padding-top: 1rem;

    img {
        width: 100%;
        object-fit: cover;

    }

    .txt {
        display: flex;
        justify-content: space-between;

        .vt {
            writing-mode: vertical-lr;
            padding-top: 1.7rem;
            text-transform: uppercase;
            font-family: font;
        }

        .vt2 {
            display: none;
        }

        .info-txt {
            display: flex;
            flex-direction: column;
            padding-left: 2rem;

            h1 {
                font-size: 3.8rem;
                font-family: font;
                padding-top: 0.5rem;
                color: #696969;
                line-height: 1.3;
                font-weight: 100;
                color: #111111;
            }

            p {

                font-size: 1.125rem;
                font-family: font;
                padding-top: 0.5rem;
                color: rgba(17, 17, 17, .5);
                line-height: 160%;
                text-transform: capitalize;
            }
        }

    }
}

.view-4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;

    .pic {
        width: 100%;

        img {
            width: 100%;
            object-fit: cover;
            padding-top: 1rem;
        }
    }

    .services-main {
        h1 {
            font-size: 2.8rem;
            font-family: font;
            font-weight: 100;
        }

        #line2 {
            height: 1px;
            width: 100%;
            background-color: #ededed;
            margin-top: 0.9rem;
            display: none;

        }



        .services {
            display: flex;
            flex-direction: column;

            #line {
                height: 1px;
                width: 100%;
                background-color: #ededed;
                margin-top: 2rem;
            }

            .service-box {
                width: 100%;

                h1 {
                    font-size: 1.7rem;
                    font-family: font;
                    font-weight: 100;
                    padding-top: 1rem;
                    text-transform: uppercase;
                }

                p {
                    font-size: 1rem;
                    color: #888888;
                    line-height: 1.5;
                    letter-spacing: 1px;
                    width: 100%;
                    padding-top: 0.6rem;
                    font-family: Roboto Mono, sans-serif;
                }


                .btn {
                    padding-top: 1.5rem;
                    display: flex;
                    flex-direction: row;
                    align-items: end;


                    button {
                        border-radius: 50%;
                        padding: 0.4rem 0.5rem;
                        background-color: black;

                        svg {
                            margin: auto;
                            text-align: center;
                            color: white;
                        }
                    }

                    p {
                        font-size: 0.9rem;
                        font-family: font;
                        padding-left: 1rem;
                        color: black;
                        font-family: monospace;
                        line-height: 160%;
                        text-transform: uppercase;
                    }
                }
            }

        }
    }



}

.view-5 {
    padding-top: 3rem;
    width: 100%;

    img {
        object-fit: cover;
        width: 100%;
        padding-top: 2rem;
    }
}

.view-6 {
    height: 100%;
    width: 100%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;

    .main-team {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;

        .bio {
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 3rem;
                font-family: font;
                font-weight: 100;

                padding-bottom: 1rem;
                text-transform: uppercase;
            }

            p {
                font-size: 1.25rem;
                font-family: font;

                color: black;
                font-family: monospace;
                line-height: 160%;

            }
        }

        .team-main {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-top: 2rem;

            .card {
                h1 {
                    font-size: 1.7rem;
                    font-family: font;
                    font-weight: 100;
                    padding-top: 1rem;
                    text-transform: uppercase;
                    padding-bottom: 1.2rem;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                p {
                    font-size: 1.1rem;
                    font-family: font;
                    color: #898989;
                    font-family: monospace;
                    line-height: 140%;
                    padding-top: 1.5rem;
                }

                .card-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    align-content: center;
                    padding-top: 1rem;

                    h4 {
                        font-size: 0.9rem;
                        font-family: font;
                        font-weight: 100;

                        text-transform: uppercase;
                    }

                    .main-icon {
                        i {
                            padding-left: 0.9rem;
                            color: #898989;
                        }
                    }

                }
            }
        }
    }


}

.view-7 {
    padding-top: 3rem;
    width: 100%;

    .testimonials {
        #line {
            height: 1px;
            width: 100%;
            background-color: #ededed;
            margin-top: 0.7rem;
        }

        .join-main {
            h5 {
                font-size: 0.9rem;
                font-family: font;
                font-weight: 100;
                text-transform: uppercase;
                padding-top: 1rem;
            }

            h2 {
                font-size: 2.3rem;
                padding-top: 2rem;
                font-family: font;
                font-weight: 100;
                text-transform: uppercase;
            }

            .btn {
                padding-top: 1.5rem;
                display: flex;
                flex-direction: row;
                align-items: center;


                button {
                    border-radius: 50%;
                    padding: 0.4rem 0.5rem;
                    background-color: black;

                    svg {
                        margin: auto;
                        text-align: center;
                        color: white;
                    }
                }

                p {
                    font-size: 0.9rem;
                    font-family: font;
                    padding-left: 1rem;
                    color: black;
                    font-family: monospace;
                    line-height: 160%;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.view-8 {
    height: 100%;
    width: 100%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 5rem;
        font-family: font;
        font-weight: 100;
        padding-top: 1rem;
        text-transform: uppercase;
        padding-bottom: 1.2rem;
    }

    .clients-main {
        display: flex;
        flex-direction: column;


        .box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            justify-content: start;

            .sub-box {
                display: flex;
                flex-direction: column;


                h1 {
                    font-family: General Sans, sans-serif;
                    font-weight: 400;
                    letter-spacing: 1px;
                    padding-top: 0.5rem;
                    padding: 0%;
                    font-size: 1.9rem;
                }

                h5 {

                    font-size: 0.8rem;
                    font-family: Roboto Mono, sans-serif;
                    font-weight: 100;
                    text-transform: uppercase;
                    padding-bottom: 0.4rem;
                }

            }

            span {
                font-family: font;
                padding-top: 0.6rem;
            }
        }

        #line {
            height: 1px;
            width: 100%;
            background-color: #e0e0e0;
            margin: 1.7rem 0rem;

        }
    }
}

.view-last {
    height: 100%;
    width: 100%;
    background-color: black;
    margin-top: 2rem;
    padding-top: 0.2rem;

    .main {
        margin-top: 3rem;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        h1 {
            color: white;
            font-family: font;
            font-size: 2.25rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-family: General Sans, sans-serif;
            font-size: 7.5vw;
            font-weight: 400;
            line-height: 110%;
            text-align: center;
            padding-top: 1.5rem;
        }

        button {
            background-color: white;
            padding: 0.7rem 1rem;
            border-radius: 20px;
            display: block;
            margin: auto;
            margin-top: 2rem;
            font-size: 0.8rem;
            text-transform: uppercase;

            svg {
                padding-top: 0.5rem;
            }
        }
    }
}









/* media css */

/* navbar responsive css */
@media (max-width:768px) {
    .nav-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0%;
        background-color: white;


        .menu-toggle {
            display: block;
            font-size: 2rem;
            cursor: pointer;
        }

        .nav-links.active {
            display: block;

        }

        .nav-links {
            display: none;
            position: absolute;
            top: 11.7rem;
            transform: translate(-50%, -50%);
            left: 50%;
            width: 100%;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background-color: black;


            ul {
                flex-direction: column;
                text-align: center;

                li {
                    margin-top: 1rem;
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: white;
                        text-transform: uppercase;
                        font-family: "satoshi", sans-serif;
                    }
                }

                button {

                    background-color: black;
                    color: white;
                    padding: 0.5rem 0.9rem;
                    border-radius: 20px;
                    font-family: monospace;
                    margin: 0.9rem;
                }
            }


        }
    }
}

@media (min-width:768px) {
    .nav-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 98%;
        position: sticky;
        top: 0%;
        background-color: white;

        .menu-toggle {
            display: none;
        }

        .nav-links {


            ul {
                display: flex;
                align-items: center;


                li {
                    list-style: none;
                    font-family: "satoshi", sans-serif;
                    text-transform: uppercase;
                    padding: 0rem 0.9rem;
                    font-size: 0.8rem;

                    a {
                        text-decoration: none;
                        color: #2a2a2a;
                    }
                }

                button {
                    background-color: black;
                    color: white;
                    padding: 0.5rem 0.9rem;
                    border-radius: 20px;
                    font-family: monospace;
                    margin-left: 0.9rem;
                }
            }
        }

    }

}

/* All Responsive */

@media (min-width:1020px) {

    html,
    body {
        height: 100%;
        width: 100%;
        font-size: medium;
    }

    .main {
        width: 100%;
        padding: 1.8rem 3.8rem;
    }

    .nav-main {
        width: 100%;
        position: sticky;
        top: 0%;
        background-color: white;
        backdrop-filter: blur(10px);
        padding: 20px;
    }

    .view-1 {
        width: 100%;

        img {
            width: 100%;
            object-fit: cover;
            padding-top: 2.5rem;
        }

        .text {
            display: flex;
            justify-content: space-between;
            padding-top: 0.9rem;

            .sub-text {
                font-family: monospace;
                font-size: 0.9rem;
                letter-spacing: 0.01rem;
            }
        }
    }

    .view-2 {
        display: flex;
        flex-direction: row;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 2%;
        width: 100%;
        height: 100%;
        padding-top: 1rem;

        .bg {
            width: 100%;

            img {

                width: 100%;
                padding-top: 1rem;
                object-fit: cover;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 80%;
            padding-top: 3rem;

            .title {
                h1 {
                    font-size: 4.3rem;

                }

                p {
                    font-size: 1.6rem;
                    width: 90%;
                    padding-top: 1rem;
                }
            }

            .sub-title {
                display: flex;
                flex-direction: column;


                .brands {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0%;

                    h1 {
                        font-size: 2rem;
                        font-family: font;
                    }

                    p {
                        font-size: 2rem;

                    }

                }


            }
        }
    }

    .view-3 {
        padding-top: 3rem;
        display: flex;
        flex-direction: row;

        img {
            width: 32%;
            object-fit: cover;
            height: 100%;
        }

        .txt {

            .vt {
                display: none;
            }

            .vt2 {
                display: block;
                writing-mode: vertical-lr;
                text-align: left;
                padding-top: 1.7rem;
                text-transform: uppercase;
                font-family: font;
            }

            .info-txt {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-left: 4rem;


                h1 {
                    font-size: 5rem;
                    text-transform: uppercase;
                }

                p {
                    font-size: 1.5rem;
                    width: 80%;
                    text-transform: capitalize;
                    letter-spacing: 0.2rem;
                    font-family: font;

                }
            }

        }
    }

    .view-4 {
        justify-content: space-between;
        flex-direction: row;
        padding-top: 3rem;

        .pic {
            width: 100%;

            img {

                width: 100%;
                object-fit: cover;
                padding-top: 1rem;
            }
        }

        .services-main {
            width: 80%;
            flex-wrap: wrap;

            #line2 {
                display: none;
            }

            h1 {
                width: 80%;
                font-size: 5rem;
                font-family: font;
                font-weight: 100;
            }

            #line {
                height: 1px;
                width: 100%;
                background-color: #ededed;
                margin-top: 0.7rem;
            }

            .services {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                /* gap: 50px; */



                .service-box {
                    padding-top: 0.9rem;

                    width: 40%;

                    #line {
                        height: 1px;
                        width: 100%;
                        background-color: #ededed;
                        margin-top: 0.7rem;
                    }

                    h1 {
                        font-size: 1.7rem;
                        font-family: font;
                        font-weight: 100;
                        padding-top: 1rem;
                        text-transform: uppercase;
                    }

                    p {
                        font-size: 1rem;
                        color: #888888;
                        line-height: 1.5;
                        letter-spacing: 1px;
                        width: 100%;
                        padding-top: 0.6rem;
                        font-family: Roboto Mono, sans-serif;
                    }


                    .btn {
                        padding-top: 1.5rem;
                        display: flex;
                        flex-direction: row;
                        align-items: end;


                        button {
                            border-radius: 50%;
                            padding: 0.4rem 0.5rem;
                            background-color: black;

                            svg {
                                margin: auto;
                                text-align: center;
                                color: white;
                            }
                        }

                        p {
                            font-size: 0.9rem;
                            font-family: font;
                            padding-left: 1rem;
                            color: black;
                            font-family: monospace;
                            line-height: 160%;
                            text-transform: uppercase;
                        }
                    }
                }

            }
        }




    }

    .view-6 {
        height: 100%;


        .main-team {
            display: flex;
            align-items: center;

            .bio {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                h1 {
                    font-size: 7rem;
                    font-family: font;
                    font-weight: 100;
                    width: 80%;
                    padding-bottom: 1rem;
                    text-transform: uppercase;
                }

                p {
                    font-size: 1.25rem;
                    font-family: font;
                    color: black;
                    width: 80%;
                    font-family: monospace;
                    line-height: 160%;
                }
            }

            .team-main {
                display: flex;
                flex-direction: row;


                .card {
                    width: 20%;

                    h1 {
                        font-size: 1.7rem;
                        font-family: font;
                        font-weight: 100;
                        padding-top: 1rem;
                        text-transform: uppercase;
                        padding-bottom: 1.2rem;
                    }

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;

                    }

                    p {
                        font-size: 1rem;
                        font-family: font;
                        color: #b4b4b4;
                        font-family: monospace;
                        line-height: 140%;
                        padding-top: 1.5rem;
                        font-weight: 400;
                    }

                    .card-info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        align-content: center;
                        padding-top: 1rem;

                        h4 {
                            font-size: 0.8rem;
                            font-family: font;
                            font-weight: 100;
                            text-transform: uppercase;
                        }

                        .main-icon {
                            i {
                                padding-left: 0.9rem;
                                color: #898989;
                                font-size: 0.8rem;
                            }
                        }

                    }
                }
            }
        }


    }


    .view-7 {
        padding-top: 4rem;
        width: 100%;

        .testimonials {
            width: 50%;
            text-align: left;
            float: right;

            #line {
                height: 1px;
                width: 100%;
                background-color: #ededed;
                margin-top: 0.7rem;
            }

            .join-main {
                h5 {
                    font-size: 0.9rem;
                    font-family: font;
                    font-weight: 100;
                    text-transform: uppercase;
                    padding-top: 1rem;
                }

                h2 {
                    font-size: 3.8rem;
                    padding-top: 2rem;
                    font-family: font;
                    font-weight: 100;
                    text-transform: uppercase;
                }

                .btn {
                    padding-top: 1.5rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;


                    button {
                        border-radius: 50%;
                        padding: 0.4rem 0.5rem;
                        background-color: black;

                        svg {
                            margin: auto;
                            text-align: center;
                            color: white;
                        }
                    }

                    p {
                        font-size: 0.9rem;
                        font-family: font;
                        padding-left: 1rem;
                        color: black;
                        font-family: monospace;
                        line-height: 160%;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .view-8 {
        height: 100%;
        width: 65%;
        text-align: right;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        float: right;

        h1 {
            padding-bottom: 1.2rem;
        }

        .clients-main {
            display: flex;
            flex-direction: column;
            align-content: end;


            .box {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .sub-box {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    h1 {
                        font-family: General Sans, sans-serif;

                        padding: 0%;
                        font-size: 1.9rem;
                        padding-left: 2rem;
                    }

                    h5 {
                        padding: 0%;
                    }

                }

                span {
                    font-family: Roboto Mono, sans-serif;
                    font-size: 0.8rem;
                }
            }

            #line {
                height: 1px;
                width: 100%;
                background-color: #e0e0e0;
                margin: 1.7rem 0rem;

            }
        }
    }

    .view-last {
        height: 100%;
        width: 100%;
        background-color: black;
        margin-top: 30rem;
        padding-top: 0.2rem;
        position: relative;
        padding: 5rem;

        .main {
            margin-top: 3rem;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            h1 {
                color: white;
                font-family: font;
                font-size: 3.7rem;
                text-align: center;
                padding-top: 2rem;
                width: 90%;
                margin: auto;
            }

            button {
                background-color: white;
                padding: 0.6rem 1.5rem;
                border-radius: 20px;
                display: block;
                margin: auto;
                margin-top: 3rem;
                font-size: 0.8rem;
                text-transform: uppercase;

                svg {
                    padding-top: 0.5rem;
                }
            }
        }
    }

}